<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Post Message
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked" >My message</ion-label>
        <ion-input [(ngModel)]="message.text" name="text" color="dark" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" >Image Url</ion-label>
        <ion-input [(ngModel)]="message.imageUrl" name="image" ></ion-input>
      </ion-item>

      <ion-item> 
        <ion-label position="stacked">To:</ion-label>
        <ion-select [(ngModel)]="message.to">
          <ion-select-option value="General">General</ion-select-option>

          <ion-select-option *ngFor="let friend of myFriends" [value]="friend.name">
            {{friend.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button [disabled]="!message.text && !message.imageUrl" (click)="onPost()" class="main-button" expand="block" color="dark" >Submit</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>
