<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="dark" *ngFor="let message of displayMessages">
    <ion-card-header>
      <ion-card-title>{{message.from}}</ion-card-title>
      <ion-card-content>{{message.text}}</ion-card-content>
    </ion-card-header>

    <ion-card-content *ngIf="message.imageUrl" >
      <ion-img src="{{message.imageUrl}}"> </ion-img>
    </ion-card-content>

    <div class="right">
      <span> Posted on: {{message.createdOn | date: 'MM/dd/yy hh:mm'}}</span>
    </div>
  </ion-card>



  </ion-content>
