<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked" >New Friend Name:</ion-label>
        <ion-input [(ngModel)]="friend.name" name="name" color="dark" ></ion-input>
      </ion-item>

      <ion-button (click)="onSave()" class="main-button" expand="block" color="dark" >Register!</ion-button>
    </ion-card-content>

  </ion-card>



  
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let friend of myFriends">
        <ion-icon name="person-outline"> </ion-icon>{{friend.name}}
      </ion-item>
    </ion-list>
  </ion-card>


 </ion-content>

